*{
    margin: 0;
    padding: 0;
}

.mountian{
    background-image: url("san-juan-mountains.jpg");
    height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.secondMountian{
    background-image: url("Dream-Lake.jpg");
    height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.thirdMountian{
    background-image: url("garden-of-the-gods.jpg");
    height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.fourthMountain{
    background-image: url("coloradoMountiansjpg.jpg");
    height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    height: 325px;
    background-color: azure; 
    overflow: scroll;   
}
p{
    padding: 1em 2em;
}
.navWords{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    color: #000;
    background-color: rgba(0, 0, 0,0.)
}

ul {
    list-style-type: none;
}
h1{
    color: azure;
    font-size: 3em;
}
.titleWords, .listTitle{
    padding: 1em;
    color: #000;
    font-weight: bold;
    
}
.center{
    text-align: center;
}
footer{
    text-align: left;
    height: 3em;
}
.footer{
    display: flex;
    padding: 1em;
}
h4{
    margin: 2em;
}
a{
    margin: 2em;
    color: azure;
    text-decoration-line: none;
    font-size: 1em;
}
    
    
    
    
    /* 
    h2{
        text-align: center;
    }
    
    nav{
        display: flex;
        align-items: flex-end;
    }
    nav, header, ul, h1, li, a, .header, footer, h4{
        background-color: rgba(0, 0, 0, 0.7);
        
        
    }
    a{
        text-decoration: none;
        padding: 2px 20px;
        color: rgb(204, 203, 203);
    }
    #logoTitle{
        display: flex;
        margin-bottom: 0;
        color: rgb(204, 203, 203);
        
    }
    ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
    }
    
    body{
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    
    .container{
        background-color: rgba(255, 255, 255, 0.7);
        height: 100%;
        width: 100%;
        position: relative;
        margin: auto;
        margin-bottom: 5px;
    }
    h4{
        padding: 0em 2em;
        color: rgb(204, 203, 203);
        
    }
    .title{
        background-color: black;
        color: rgb(204, 203, 203);
        overflow: hidden;
        margin: 0%;
        padding: 2em;
    }
    .text{
        background-color: none;
        margin: 0em;
        padding: 1em 2em;
    }
    #space{
        height: 2em;
        
    }
    
    .pics{
        position: relative;
        opacity: 0.50;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
    .textSizing{
        height: 10em;
    } */
    
    header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
