*{
    margin: 0;
    padding: 0;
}

.mountain, .secondMountain,.thirdMountain,.fourthMountain{
    height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.mountain {
    background-image: url("san-juan-mountains.jpg");

}

.secondMountain {
    background-image: url("Dream-Lake.jpg");

}

.thirdMountain {
    background-image: url("garden-of-the-gods.jpg");

}

.fourthMountain {
    background-image: url("coloradoMountiansjpg.jpg");

}

.container{
    height: 100%;
    background-color:azure; 
    overflow: scroll;   
}

p{
    padding: 1em 2em;
    font-family: Aladin;
    font-size: 1.5em;
}

.navWords{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    color: #000;
}

section  {
    list-style-type: none;
}
h1{
    color: azure;
    font-size: 5em;
}

.titleWords, .listTitle{
    padding: .5em;
    color: #000;
    font-weight: bold;
}

.center{
    text-align: center;
}

footer{
    text-align: left;
    height: 3em;
}

.footer{
    display: flex;
    padding: 1em;
}

h4{
    margin: 2em;
}

.listTitle{
    font-size: 4em;
}

a{
    margin: 1em;
    color: azure;
    text-decoration-line: none;
    font-size: 2em;
}

h1, a, .titleWords, .listTitle{
    font-family: Tangerine;
}
