body{
    background-position-y: 94%;
    background-image: url("");
    background-size: 100%;
    background-repeat: no-repeat;
}
#goalsLanding{
    font-size: 3em;

}
#navBar{
     overflow: hidden;
     position: fixed;
     top: 0;
     width: 100%;
}